body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
.top-banner {
  margin-top: 1%;
}
.paragraph {
  text-align: left;
  width: 50%;
}

.color-orange {
  color: #ffa500;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  margin: 0 5%;
}
.half-width img {
  width: 60%;
}
.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, orange, tomato);
  padding: 10px 20px;
  border-radius: 20px;
}

.about-section {
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#about-me {
  margin: 10% 20% 3% 0;
}

.recipe-heading {
  margin: 2% 30% 5%;
  text-align: center;
}

.recipe-item {
  padding: 1%;
  margin: 0 2%;
  box-shadow: 10px 10px 50px gray;
  border-radius: 20px;
}
.recipe-item img {
  width: 100%;
  height: auto;
}

/* #curry {
  height: 65%;
} */

.recipe-content {
  width: 100%;
}

.followers {
  margin-left: 2%;
  width: 30%;
  text-align: center;
}

.follower-section {
  box-shadow: 10px 10px 50px gray;
  margin: 0 2%;
  border-radius: 20px;
  margin-bottom: 5%;
}

footer {
  text-align: center;
  background-color: black;
  padding: 1%;
  color: whitesmoke;
}

#food {
  color: tomato;
}
#network {
  color: #5b5b5b;
}
